div {
  border: 2px solid black;
  padding: 10px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: lawngreen;
  margin: auto;
  margin-top: 50px;
}
a{
  text-decoration: none;
  color: black;
}
div:hover{
  background-color: cyan;
  border-radius: 10px;
}
div:link{
  background-color: antiquewhite;
}
div:visited{
  background-color: brown;
}
div:active{
  background-color: greenyellow;
}
input:focus{
  background-color:lightskyblue;
}
h4{
  padding: 20px;
  text-align: center;
  display:none;
}
.box:hover h4{
  display: block;
}
.v1 p:nth-child(2)
{
  background-color: blue;
  font-size: 30px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-left: 50px;
  animation: circle 3s infinite alternate;
  animation-play-state: running;
  animation-delay: 1s;
}
.v1 p:nth-child(1)
{
  background-color: sandybrown;
  font-size: 30px;
}
.v1 p:nth-child(3)
{
  background-color:crimson;
  font-size: 30px;
  text-align: center;
}
.v1 p:nth-child(2):hover{
  background-color: bisque;
}
@keyframes circle{
  0%{
    border-radius: 0%;
    transform: rotate3d(0, 0, 0, 0deg);
    /* transform: scale(1); */
  }
  50%{
    border-radius: 50%;
  }
  100%{
    border-radius: 100%;
    /* transform: scale(1.3); */
    transform: rotate3d(1, 1, 1, 360deg);
  }
}