.c1{
  width: 700px;
  height: 30px;
  background-color: #7efff5;
  text-align: center;
  font-size: 25px;
  padding: 20px;
}
.c2{
  width: 10cm;
  height:1.4em;
  background-color: #ff9f1a;
  text-align: center;
  font-size: 25px;
  padding: 15px;
}
.c3{
  background-color: #32ff7e;
  width: 30%;
  height: 100px;
  font-size: 25px;
  text-align: center;
  padding: 15px;
}
.c4{
  max-width: 50%;
  height: 40px;
  background-color: #7d5fff;
  text-align: center;
  font-size: 25px;
  padding: 55px;
}
.c5{
  min-width: 500px;
  min-height: 30px;
  background-color: #0fb9b1;
  text-align: center;
  font-size: 25px;
  padding: 15px;
}