.b1{
  border: 4px solid orange;
  background: antiquewhite;
  padding: 50px;
  margin: 100px 600px;
  text-align: center;
  width: 150px;
  
}
.b2{
  border: 4px solid orange;
  background: antiquewhite;
  padding: 50px;
  margin: 70px 400px;
  text-align: center;
  
}
.b3{
  border: 4px solid orange;
  background: antiquewhite;
  padding: 50px 50px ;
  margin: 100px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
 
}
w3 school
img{
  width: 530px;
  height: 300px;
  margin-left: 500px;
}