/* color: color_name */

.box1{
  color: white;
  background-color: khaki;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

/*    link:  https://flatuicolors.com/     */
/*    color: #rrggbb                       */
.box2{
  color:#2980b9 ;
  background-color: #c0392b;
  text-align: center;
  line-height: 30px;
}
/*    rgb(red, green, blue)              */
/*    rgba(red, green, blue, alpha)     */
.box3{
  color:rgb(red, green, blue) ;
  background-color: rgb(200,250,300);
  line-height: 30px;
  text-align: center;
}
.box4{
  background-color:rgba(255, 199, 171, 0.5);
  color: white;
  line-height: 30px;
  text-align: center;
}
.box5{
  color: black;
  background-color: rgb(255,0,255);
  text-align: center;
  line-height: 35px;
}
span{
  color: #1B1464;
  font-size: 30px;
}