.a2{
  font-size: 18px;
  padding: 20px;
  background-color:deeppink;
  color: white;
  border: none;
  cursor: pointer;
}
.a1{
  position: relative;
}
.a3{
  position: absolute;
  background-color: chocolate;
  min-width: 122px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0,0, 0.2);
  display: none;
}
.a3 a{
  text-decoration: none;
  display: block;
  padding: 20px;
  color: aliceblue;
  font-size: 18px;
}
.a3 a:hover{
  background-color: #f1f1f1;
  color: black;
}
.a1:hover .a3{
  display: block;
}
.a1:hover .a2{
  background: #3e8e41;
}
/* Mahasthangarh   */
.b1{
  position: relative;
  margin-left: 300px;
}
.b1 img{
  height: 100px;
  width: 200px;
  opacity: 0.5;
}
.b2 img{
  opacity: 1;
  height: 200px;
  width: 400px;
}
.b2{
  min-width: 200px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* padding: 20px; */
}

.b1:hover .b2 {
  display: block;
}
.b3{
  text-align: center;
  font-size: 20px;
  padding: 10px;
}