.j1 {
  border: 2px solid hotpink;
  padding: 15px;
  float: left;
}
.j2{
  width: 200px;
  border: 2px solid hotpink;
  padding: 15px;
}
.j3{
  border: 2px solid green;
  padding: 20px;
  float: left;
}
.j4{
  border: 2px solid blue;
  width: 240px;
  text-align: justify;
  padding: 10px;
  clear: left;
}
.j5{
  border: 3px solid black;
  padding: 30px;
  float: left;
}
.j6{
  border: 3px solid black;
  width: 200px;
  padding-top: 200px;
}
.j7 {
  border: 2px solid black;
  margin: 10px;
}
.j7 img{
  float: right;
  width: 170px;
  height: 170px;
}
.j7::after{
  content: "";
  clear: both;
  display: table;
}
.box{
  width: 30.3%;
  height: 150px;
  padding: 10px;
  float: left;
  border: 2px solid black;
  text-align: center;
  margin: 5px;
}
.j8::after{
  content: "";
  clear: both;
  display: table;
}
*{
  box-sizing: border-box;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 200px;
}
li{
  float: left;
}
li a{
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
  color: white;
  display: inline-block;
  background-color: #333;
  
}
li a:hover{
  background-color: #111;
}
.a {
  background-color: red;
}