.p1{
   border: 3px solid red;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
   padding:20px;
   font-size: 20px;
   /* Outline property*/
   outline-style: dotted;
   outline-width: 5px;
   outline-color:fuchsia;
   outline-offset: 5px;
}
.p2{
   border: 3px solid red;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
   padding:20px;
   font-size: 20px;
   
   /* Outline property*/
   outline-style: dashed;
   outline-width: 5px;
   outline-color:#8854d0;
   outline-offset: 5px;
}
.p3{
   border: 3px solid red;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
   padding:20px;
   font-size: 20px;
   /* Outline property*/
   outline-style:groove;
   outline-width: 5px;
   outline-color:#f7b731;
   outline-offset: 7px;
}
.p4{
   border: 3px solid red;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
   padding:20px;
   font-size: 20px;
   /* Outline property*/
   outline-style:double;
   outline-width: 5px;
   outline-color:#4b6584;
   outline-offset: 5px;
}
.p5{
   border: 3px solid red;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
   padding:20px;
   font-size: 20px;
   /* Outline property*/
   outline-style:solid;
   outline-width: 5px;
   outline-color:#20bf6b;
   outline-offset: 5px;
}
.p6{
   border: 3px solid red;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
   padding:20px;
   font-size: 20px;
   /* Outline property*/
   outline:inset 5px green ;
   outline-offset: 10px;
}