p{
  border: 3px solid green;
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
h6{
  border: 3px solid navajowhite;
  font-size: 20px;
  text-align: center;
  margin: 50px;
  background-color: burlywood;
}