body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.form{
  border: 2px solid #ddd;
  width: 80%;
  margin: 20px auto;
  padding: 5%;
  text-align: center;
}
.form h2{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 0;
}
.form p{
  /*  color: black;  */
  /*  opacity: 0.5;  */
  color: #5d5d5d;
}
.form form{
  margin-top:25px;
}
.child_form{
  width: 100%;
  margin-bottom: 15px;
  text-align: left
}
.child_form :last-child{
  margin-bottom: 0;
}
.child_form label{
  display: block;
  margin-bottom: 5px;
}
.child_form input,.child_form textarea ,.child_form select{
  border: 2px solid #5d5d5d;
  border-radius: 5px;
  padding: 8px 1.5%;
  width: 97%;
  font-family: "Poppins", sans-serif;
}
.child_form input[type='button']{
  width: 200px;
  background: #0c2461;
  color: white;
  cursor: pointer;

}
.child_form input[type='button']:hover{
  background: black;
  color: white;
}
.child_form select{
  width: 100%;
}