.p1{
  font-size: 40px;
  background-color: bisque;
  border: 2px solid black;
  border-radius: 10px;
}
.p2{
  font-size: 40px;
  background-color: bisque;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 10px;
}
.p3{
  font-size: 40px;
  background-color: bisque;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 10px;
}
.p4{
  font-size: 40px;
  background-color: bisque;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 10px;
}
.p5{
  font-size: 40px;
  background-color: bisque;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 10px;
}
.f1{
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  background-color:#b2bec3;
  padding: 20px;
  width: 305px;
  border: 3px solid red;
  outline: 3px solid gold;
  outline-offset: 2px;
}
body{
  background-color: azure;
}