/* 
    CSS background properties:
    background-color
    background-image
    background-position
    background-size
    background-repeat
    background-attachment
    background-origin
    background-clip

*/
.box1{
  background-color: darkcyan;
  line-height: 50px;
  text-align: center;
}
.box2{
  background-color: rgb(91, 100, 95);
  line-height: 50px;
  text-align: center;
}
.box3{
  background-color: #1B1464;
  line-height: 50px;
  text-align: center;
  color: white;
}
.box4{
  background-color: bisque;
  line-height: 50px;
  text-align: center;
  color: black;
}
.box5{
  background: rebeccapurple;
  color: black;
  line-height: 50px;
  text-align: center;
  color: white;
}
.class1{
  background-image: url(background.jpeg);
  background-repeat: no-repeat;
  height: 200px;
  width: 300px;
  color: white;
  line-height: 160px;
  text-align: center;
  margin-top: 400px;
}
.class2{
  height: 200px;
  width: 300px;
  background-image: url("background2.jpeg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
  
}
body{
  background-image: url("background2.jpeg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: 110px;
}
/* background origin */
.class3{
  border: 5px dashed black;
  text-align: center;
  background-image: url(background.jpeg);
  background-repeat: no-repeat;
  background-origin:padding-box;  /* padding box */
  background-size: 150px;
  padding: 10px;
}
.class4{
  border: 5px dashed black;
  text-align: center;
  background-image: url(background.jpeg);
  background-repeat: no-repeat;
  background-origin:content-box;      /* contex box */
  background-size: 150px;
  padding: 10px;
  margin-top: 20px;
}
.class8 {
  border: 5px dashed black;
  text-align: center;
  background-image: url(background.jpeg);
  background-repeat: no-repeat;
  background-origin:border-box;       /* border box */
  background-size: 150px;
  padding: 10px;
  margin-top: 20px;
}

/* contex box */
.class5{
 background-image: url(background3.jpeg);
 background-repeat: no-repeat;
 background-clip: content-box ;
 background-color: bisque;
 background-size: 450px;
 padding: 10px;
 text-align: center;
 border: 8px dotted red;
 margin-top: 30px;
}
/* border box */
.class6{
 background-image: url(background3.jpeg);
 background-repeat: no-repeat;
 background-clip: border-box ;
 background-color: bisque;
 background-size: 450px;
 padding: 20px;
 text-align: center;
 border: 8px dotted red;
 margin-top: 30px;
}
/* padding box */
.class7{
 background-image: url(background3.jpeg);
 background-repeat: no-repeat;
 background-clip: padding-box ;
 background-color: bisque;
 background-size: 450px;
 padding: 20px;
 text-align: center;
 border: 8px dotted red;
 margin-top: 30px;
}