/* 
    * => universal selector
    . => class selector
    # => id selector
    p => element selector
    , => group selector
    > => child selector
    : => pseudo classes
*/
*{
  background-color:honeydew;
}
h2{
  background-color: greenyellow;
  color:crimson;
  text-align: center;
}
h1,p{
  text-align: center
}
p{
  font-size: 22px;
}
.box{
  text-align: center;
  background-color: beige;
  height: 50px;
  width: auto;
  line-height: 45px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}
#id1{
  text-align: center;
  margin-top: 15px;
  border: 3px solid hotpink;
  border-radius: 50px;
  padding: 10px;
}