/*
 font property=
 font-size 
 font-family
 font-weight
 font-style

 */
.b1{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
}
.b2{
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: bold;
}
.b3{
  font-size: 30px;
  font-family: "Sofia", sans-serif;
  font-style: oblique;
  font-weight: bolder;
}
.b4{
  font-weight: 800;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}
.b5{
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.b6{
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.b7{
  font-size: 30px;
  font-family: "Audiowide", sans-serif;
}
.b8{
  font-size: 30px;
  font-family: "Tagesschrift", system-ui;
}
.b9{
  font-size: 30px;
  font-family: "EB Garamond", serif;
}
.b10
{
  font-size: 30px;
  font-family: "Abel", sans-serif;
  font-weight: lighter;
}
.b11{
  font-size: 30px;
  font-family: "Trirong", serif;
}
body{
  background: plum;
  color: white;
  margin: 40px;
}